<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LottieExtensionDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0DDE7AD02773571800D91F6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DDE7AEB2773571C00D91F6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DDE7AF62773571C00D91F6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
